<div class="container">
  <p>Añadir comentario:</p>
  <form class="mx-5 my-3" [formGroup]="comentarioForm" (ngSubmit)="createComment(comentarioForm.value)">
      <div class="form-group my-2">
        <div class="row">
          <div class="col-10">
            <input type="text" class="form-control" formControlName="comentario" placeholder="Ingresa nuevo comentario">
          </div>
              <div class="row justify-content-center">
                <div class="col-8">
                  <div class="alert alert-danger my-3" *ngIf="comentarioForm.get('comentario')?.hasError('maxlength')">
                    El comentario no debe exceder los 255 carácteres
                  </div>
                </div>
          </div>
       </div>

      </div>
      <div class="col-6 text-start">
        <button type="submit" class="btn btn-primary" [disabled]="!comentarioForm.valid">Crear</button>
      </div>
  </form>
</div>
