<div class="container">

  <form class="" [formGroup]="comentarioForm" (ngSubmit)="createComment(comentarioForm.value)">
      <p class="new-comment-header">Añadir comentario:</p>
      <div class="form-group my-2">
        <div class="row">
          <div class="">
            <textarea type="text" class="text-area form-control input-lg" formControlName="comentario" placeholder="Ingresa tu nuevo comentario..."></textarea>
          </div>
              <div class="row justify-content-center">
                <div class="">
                  <div class="alert alert-danger my-3" *ngIf="comentarioForm.get('comentario')?.hasError('maxlength')">
                    El comentario no debe exceder los 255 carácteres
                  </div>
                </div>
          </div>
       </div>

      </div>

      <div class="container-btn">

        <div class="text-start">
          <button type="submit" class="btn btn-primary btn-group-lg send-btn" [disabled]="!comentarioForm.valid"><span class="bi bi-forward" aria-hidden="true">  Enviar</span></button>
        </div>

      </div>
  </form>
</div>
