.navnar{
  position: relative;
}
.nav-item:hover{
  font-weight: bold;
}
.logout-btn{
  position: absolute;
  right: 50px;
}

.notification-items {
  margin-top:8px;
  margin-left: 24px;
}

.logo-img-notification {
  width: 32px;
  height: 32px;
}
